<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout_community }">


    <div layout:fragment="content">
        <div class="card my-2">
            <div class="card-header">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-airplane" viewBox="0 0 16 16" style="margin-bottom:15px; margin-right:10px;">
                  <path d="M6.428 1.151C6.708.591 7.213 0 8 0s1.292.592 1.572 1.151C9.861 1.73 10 2.431 10 3v3.691l5.17 2.585a1.5 1.5 0 0 1 .83 1.342V12a.5.5 0 0 1-.582.493l-5.507-.918-.375 2.253 1.318 1.318A.5.5 0 0 1 10.5 16h-5a.5.5 0 0 1-.354-.854l1.319-1.318-.376-2.253-5.507.918A.5.5 0 0 1 0 12v-1.382a1.5 1.5 0 0 1 .83-1.342L6 6.691V3c0-.568.14-1.271.428-1.849Zm.894.448C7.111 2.02 7 2.569 7 3v4a.5.5 0 0 1-.276.447l-5.448 2.724a.5.5 0 0 0-.276.447v.792l5.418-.903a.5.5 0 0 1 .575.41l.5 3a.5.5 0 0 1-.14.437L6.708 15h2.586l-.647-.646a.5.5 0 0 1-.14-.436l.5-3a.5.5 0 0 1 .576-.411L15 11.41v-.792a.5.5 0 0 0-.276-.447L9.276 7.447A.5.5 0 0 1 9 7V3c0-.432-.11-.979-.322-1.401C8.458 1.159 8.213 1 8 1c-.213 0-.458.158-.678.599Z"/>
                </svg>
                <span th:text="${ festivalPost.title }" style="font-size:30px;"></span>
                
            </div>
            <div class="card-body">
                    <div class="my-2">
                        <img
                                            th:src="${ festivalPost.filePath}" 
                                            alt="첨부 이미지" 
                                            class="rounded mx-auto d-block"
                                            th:if="${festivalPost.fileName != null}"
                                            style="width:40%; height:40%" />
                    </div>
                <div class="mx-5 my-5">
                    <div class="table table-hover">
                        <div class="">
                            <table class="table table-bordered" style="margin-left: auto; margin-right: auto; max-width: 900px;">
                                <tr>
                                  <th scope="row" >개최지역</th>
                                  <td th:text="${ festivalPost.festivalPlace }"></td>
                                </tr>
                                <tr>
                                  <th scope="row">개최기간</th>
                                  <td th:text="${ festivalPost.festivalPeriod }"></td>
                                </tr>
                                <tr>
                                  <th scope="row">축제성격</th>
                                  <td th:text="${ festivalPost.festivalCharacter }"></td>
                                </tr>
                                <tr>
                                  <th scope="row">관련 누리집</th>
                                  <td> 
                                    <a th:text="${festivalPost.festivalInfo}" th:href="@{ ${festivalPost.festivalInfo} }"></a>
                                  </td>
                                </tr>
                                  <tr>
                                  <th scope="row">축제장소</th>
                                  <td th:text="${ festivalPost.festivalPlace }"></td>
                                </tr>
                                  <tr>
                                  <th scope="row">요금</th>
                                  <td th:text="${ festivalPost.festivalPrice }"></td>
                                </tr>
                                  <tr>
                                  <th scope="row">주최/주관기관</th>
                                  <td th:text="${ festivalPost.festivalAgency }"></td>
                                </tr>
                                  <tr>
                                  <th scope="row">문의</th>
                                  <td th:text="${ festivalPost.festivalInquiry }"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div th:text="${ festivalPost.content }" style="padding: 40px; border-bottom: 1px solid #4f6280; border-top: 1px solid #4f6280; line-height: 25px;">
                </div>
                 <!-- 글 작성자 아이디가 관리자(admin)일 경우에만 "수정하기" 보여주기 -->
                 	<div class="my-2" th:if="${ username  == 'admin'}"  style="float: left; ">
	                    <a class="my-2 btn btn-primary" role="button" aria-disabled="true" style="color: orange; background-color: black"
	                        th:href="@{ /community/festivalPostModify?id={id} (id = ${ festivalPost.id }) }">
	                        수정하기</a>
	                </div>    
	                <a class="btn btn-primary" th:href="@{ /community/festivalPostList }" role="button" style="float: right; margin-top:20px; color: orange; background-color: black">돌아가기</a>
            </div>
        </div>

</div><!-- layout:fragment="content" 끝 -->   
   
       
        
</html>