<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">

    <!--/* layout/layout.html 파일의 "content" 프래그먼트에 삽입될 컨텐트  */-->
    <div layout:fragment="content">
        <div class="card my-2 mt-3 row border border-white">
            <div class="card-header bg-white container-fluid border-white">
                <h1 class="mt-4" style="float:left;"> 축제 목록  </h1>
                    <form th:action="@{ /community/festivalPostSearch }">
                        <div class="row mt-4" style="float:right;">
                             <div class="col-3">
                                 <select name="type" class="form-control">
                                     <option value="choose">선택</option>
                                     <option value="c">내용</option>
                                     <option value="tc">축제명+내용</option>
                                 </select>
                             </div>
                             <div class="col-6" >
                                 <input type="text" name="keyword" class="form-control" placeholder="검색어" required autofocus />
                             </div>
                             <div class="col-2" >
                                 <input type="submit" value="검색" class="btn btn-outline-info" />
                             </div>
                        </div>
                    </form>
                    <div style="float:right; margin-right: 10px; display: flex; margin-top: 30px; font-size:20px;">
                        <ul style="list-style: none;">
                            <li style="float: left;" ><a id="newPost" style="text-decoration-line: none; color: black;" th:href="@{ /community/festivalPostCreate }" >새글작성</a></li>
                        </ul>
                        <ul style="list-style: none; margin-right: 30px;">
                            <li style="float: left; "><a id="totalList" style="text-decoration-line: none; color: black;" th:href="@{ /community/festivalPostList }">전체목록</a></li>
                        </ul>
                    </div>
                </div>
                <hr/>
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col" th:each="festivalPost : ${list}">
                                <div class="card mb-3" style="max-width: 540px;">
                                    <div class="row g-0">
                                        <div class="col-md-4">
                                          <img th:src="${ festivalPost.filePath}"  class="img-fluid rounded-start" alt="${ festivalPost.title }"
                                                th:if="${festivalPost.fileName != null}"
                                                >
                                        </div>
                                        <div class="col-md-8">
                                          <div class="card-body">
                                            <h5 class="card-title" th:text="${ festivalPost.title }"></h5>
                                            <p class="card-text" th:text="${ festivalPost.title }"></p>
                                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                            <a th:href="@{ /community/festivalPostDetail?id={id} (id = ${festivalPost.id}) }" class="btn btn-primary">자세히 보기</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                             </div>
</html>