<!DOCTYPE html>
<html 
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{ layout/layout.html }">
    
<body>
    <div layout:fragment="content">
        <div class="card bg-light m-1">
            <div class="card-head" style="text-align:center;">
                <h1 style="font-size: 330%; margin-right: 50px; margin-left: 50px; margin-top: 50px;"> 마이페이지 </h1>
            </div>
            <div class="card-body" style="margin-left: 50px; margin-right: 50px;">
    
                <br/>
                <h3 style="font-size: 220%;"><span style="font-size: 77%; color: orange;">◎</span> 내가 만든 모임 목록</h3>
                <table class="table table-hover">
                    <thead class="bg bg-dark rounded">
                        <tr style="color:orange;">
                            <th>번호</th>
                            <th>제목</th>
                            <th>총인원</th>
                            <th>작성자</th>
                            <th>모임날짜</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post : ${ recruitPostList }">
                            <td th:text="${post.id}"></td>
                            <td><a style="text-decoration-line: none; color: black;"
                                th:href="@{ /post/detail?id={id} (id = ${post.id}) }"
                                th:text="${post.title}"></a></td>
                            <td th:text="${post.totalMember}"></td>
                            <td th:text="${post.author}"></td>
                            <td th:text="${ #temporals.format(post.meetingDate, 'yyyy-MM-dd HH:mm') }"></td>
                        </tr>
                    </tbody>
                </table>
                <br/><br/><br/>
                <h3 style="font-size: 220%;"><span style="font-size: 77%; color: orange;">◎</span> 나눔 게시판에 올린 물건 목록</h3>
                <button style="border:none; background-color:transparent; height:40px; width: 100px; padding: 0px; padding-bottom: 3px;" type="button" id="chatBtn">
                    <span>채팅보기  </span>
                    <svg xmlns="http://www.w3.org/2000/svg" style="margin-bottom:10px;" width="25" height="25" fill="currentColor" class="bi bi-chat-text" viewBox="0 0 16 16">
                      <path d="M2.678 11.894a1 1 0 0 1 .287.801 10.97 10.97 0 0 1-.398 2c1.395-.323 2.247-.697 2.634-.893a1 1 0 0 1 .71-.074A8.06 8.06 0 0 0 8 14c3.996 0 7-2.807 7-6 0-3.192-3.004-6-7-6S1 4.808 1 8c0 1.468.617 2.83 1.678 3.894zm-.493 3.905a21.682 21.682 0 0 1-.713.129c-.2.032-.352-.176-.273-.362a9.68 9.68 0 0 0 .244-.637l.003-.01c.248-.72.45-1.548.524-2.319C.743 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.52.263-1.639.742-3.468 1.105z"/>
                      <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8zm0 2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5z"/>
                    </svg> 
                </button>
                <table class="table table-hover m-2">
                    <thead class="bg bg-dark rounded">
                        <tr style="color:orange;">
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post2 : ${ freeSharePostList }">
                            <td th:text="${post2.id}"></td>
                            <td><a style="text-decoration-line: none; color: black;"
                                th:href="@{ /freeshare/detail?id={id} (id = ${post2.id}) }"
                                th:text="${post2.title}"></a></td>
                            <td th:text="${post2.author}"></td>
                        </tr>
                    </tbody>
                </table>
                <br/><br/><br/>
                <h3 style="font-size: 220%;"><span style="font-size: 77%; color: orange;">◎</span> 내가 지원한 모임 내역</h3>
                <table class="table table-hover">
                    <thead class="bg bg-dark rounded">
                        <tr style="color:orange;">
                            <th>포스트 번호</th>
                            <th>지원한 포스트</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="post3 : ${ applyRecruitPostList }">
                            <td th:text="${post3.id}"></td>
                            <td><a style="text-decoration-line: none; color: black;"
                                th:href="@{ /post/detail?id={id} (id = ${post3.id}) }"
                                th:text="${post3.title}"></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br/><br/><br/>
            <div class="card-body">
                <ul style="list-style: none;">
                    <li class="nav-item active p-2" style="float: left; text-align: right; margin-left: 20px;">
                        <a id="point" style="font-size: 39px; text-decoration-line: 1px soild; color: orange;" th:href="@{ /member/update }"> 개인정보 변경</a>
                    </li>
                </ul>
            </div>
            
        </div>
    <script>
    let point = document.getElementById("point"); 
    
    point.addEventListener("mouseover", function (event) {
        event.target.style.color = "gold";
      }, false);
    point.addEventListener("mouseout", function(event){
        event.target.style.color = "orange";
      }, false);
    </script>
    <script>
    const chatBtn = document.querySelector('#chatBtn');
    chatBtn.onclick = function(){
        let popUrl = "/chat/chatPop";
        let popOption = "width = 600px; height=700px, top=300px; left=300px; scrollbars=yes";
        
        // var window = window.open(url, windowName, [windowFeatures]); (주소, 팝업창 이름, 설정)
        window.open(popUrl, 'Travel Chat', popOption );
    }
    
    
    </script>
        
    </div><!-- fragement: content -->
</body>
</html>