<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{ layout/layout }">
<body>
    <div layout:fragment="content">
        <div>
            <form method="post" style="margin-top: 4px;" enctype="multipart/form-data">
                <div class="card m-4 row g-5">
                <div class="select_img"><img src="..." /></div>
                <input type="file" id="imgFile" name="imgFile" />
                    <div class="mb-3 row">
                        <label for="title"
                            class="col-sm-2 col-form-label">제목</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control"
                                id="title" name="title" required
                                autofocus>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="author"
                            class="col-sm-2 col-form-label">주최자</label>
                        <div class="col-sm-10 my-4">
                            <input type="text" class="form-control-plaintext"
                                id="author" name="author" th:value="${ #authentication.name }" readonly required />
                        </div>
                    </div>
                </div>
            <!-- content 모집내용 시작 -->
            <div class="card m-4 g-5">
                <label for="content" class="form-label mt-5 m-3">모집내용</label>
                    <div class="mx-4 mb-2">
                        <textarea id="content" name="content"
                            class="form-control" rows="20"></textarea>
                    </div>
                </div>

            <!-- 지도폼 -->
            <div class="card m-4 row g-5">
                    <div>
                        <div class="mb-3 row">
                            <label for="totalMember"
                                class="col-sm-2 col-form-label">모집인원</label>
                            <div class="col-sm-2">
                                <input type="number"
                                    class="form-control"
                                    id="totalMember" name="totalMember"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                    <label for="meetingDate"
                        class="col-sm-2 col-form-label">모임기간</label>
                    <div class="col-sm-4">
                        <input type="datetime-local" class="form-control"
                            id="meetingDate" name="meetingDate" required />
                    </div> 
                    <label for="closeDate"
                        class="col-sm-2 col-form-label">신청마감</label>
                    <div class="col-sm-4">
                        <input type="datetime-local" class="form-control"
                            id="closeDate" name="closeDate" required />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="place" class="col-sm-2 col-form-label">장소</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control"
                            id="place" name="place">
                    </div>
                </div>
                <div class="card my-2">
                    <h1>지도 들어갈 위치</h1>
                </div>
                <div class="my-2">
                    <input type="submit" value="작성 완료"
                        class="form-control btn btn-outline-primary" />
                </div>
                </div>
            </form>
        </div>
        <!-- 메인 div 끝 -->
    </div>

</body>
</html>